#comment_show
  .attribute
    .name Owner:
    .value=h @comment.owner_id 
  .attribute
    .name Owner type:
    .value=h @comment.owner_type 
  .attribute
    .name Body:
    .value=h @comment.body 
  .attribute
    .name Automatic:
    .value=h @comment.automatic 
  .attribute
    .name User:
    .value=h @comment.user_id 

#update_comment{:style => 'display:none;'}
  = render :partial => 'form', :locals => {:comment => @comment }

= link_to_function 'Edit', :href => edit_comment_path(@comment), :id => "edit_comment_link" do |page|
  - page[:comment_show].visual_effect :blind_up, :duration => 0.5
  - page[:update_comment].visual_effect :blind_down, :duration => 0.5
  - page[:edit_comment_link].hide
  - page[:cancel_edit_comment_link].visual_effect :appear

= link_to_function 'Cancel', :href => edit_comment_path(@comment), :id => 'cancel_edit_comment_link', :style => "display:none;" do |page|
  - page[:comment_show].visual_effect :blind_down, :duration => 0.5
  - page[:update_comment].visual_effect :blind_up, :duration => 0.5
  - page[:cancel_edit_comment_link].hide
  - page[:edit_comment_link].visual_effect :appear

|
= link_to 'Back', comments_path
