- content_for :title do
  Manage Tasks


- content_for :right do
  = render :partial => "users/search", :locals => {:partial => 'tasks/user_manage', :update => 'user_manage'}
  #user_manage
    = render :partial => "user_manage", :locals => {:users => User.all}
  
#all_tasks
  Select users from the right to see their tasks
