%h1
  - if @client
    = link_to h(@client.name), @client
    >
  = link_to h(@project.name), @project, :style => @project.style
  >
  New Task

= render :partial => 'form', :locals => {:task => @task }

= link_to 'Back', @task.project
