html
  :font
    :family Helvetica
    :weight bold
    :style oblique
    :size 0.9em
  :color #E2007A
  :background-color #323234

body
  :margin 0
  :padding 0

.col
  :float left

a
  :color #E2007A
  :text-decoration none

a:hover
  :color #E2007A

a:visited
  :color #E2007A

img
  :border none

#menu
  :position absolute
  :top 40px
  :left 30px
  :color #ffffff
  :width 10%

  a
    :color #E2007A

#about
  :margin 10em auto
  :width 800px

#frase_wapa
  :margin 10em auto
  :width 450px
  :font-weight bold

th
  :text-align left

#content
  :width 100%
  :padding-top 10%
  :margin 1em auto

#password
  :padding-top 50px
  :margin 0 auto
  :width 1400px
    
  
#password_hola
  :height 450px
  :width 1400px
  :background-color #323234
  :color #E2007A
  :border none
  :font
    :family Helvetica
    :weight bold
    :style oblique
    :size 25em
  :text
    :transform uppercase
    :align center
  
#password_adios
  :height 450px
  :width 1400px
  :background-color #323234
  :color #E2007A
  :border none
  :font
    :family Helvetica
    :weight bold
    :style oblique
    :size 25em
  :text
    :transform uppercase
    :align center

#print_show
  :padding-top 20px
  :text-align center

#film_show
  :padding-top 20px
  :text-align center

.contact_details
  :width 400px
  :text-align left
  :margin 1em auto
  :font
    :weight 200
    :size 1.2em
  :padding-top 250px
