!light_blue = #bde3fe
!dark_blue = #23567a
!light_green = #86ae91

=round_borders
  :-moz-border-radius 6px
  :-webkit-border-radius 6px


=error
  :border 1px solid #cd0a0a
  :background #b81900 url(/images/ui-bg_diagonals-thick_40_b81900_40x40.png) 50% 50% repeat
  :color #ffffff

body
  :font
    :family verdana, arial, helvetica, sans-serif
    :size 0.9em
  :padding
    :left 50px
    :right 50px

#content
  :margin
    :top 20px
a
  :color orange
  :text-decoration none

  img
    :border none

a:hover
  :text-decoration underline

th
  :text-align left

h1
  :font-size 1.9em
  :color #333

h2
  :font-size 1.4em
  :color #666

h3
  :color #999
  :font-size 1.1em

h4
  :color #999
  :font-size 1em


.clear
  :height 1px
  :clear both

.two_col
  :width 45%
  :float left

.small
  :font-size 0.7em

#user_badge
  :float right
  :width 320px

#user_menu
  :text-align center
  :z-index 9999

#menu
  :float left
  :display inline
  :font
    :size 1.5em
    :color #333333
  :padding
    :top 15px

.widget
  :padding
    :left 10px
    :right 10px
    :top 5px
    :bottom 5px

  :margin-bottom 10px
  +round_borders

.middle
  :vertical-align middle

.attribute
  :display table-row

  .name
    :display table-cell
    :font-weight bold
    :padding
      :right 10px
      :bottom 2px
      :top 5px
  .value
    :display table-cell

.wall
  +round_borders
  :width 550px
  :background-color #e4f9ea
  :border 1px solid #86ae91
  :padding 10px

  .comment
    :display table-row
    :margin-bottom 20px

    div
      :margin-bottom 15px
      :vertical-align middle

      .face
        :width 150px
        :display table-cell

      .comment_body
        :display table-cell
        :width 400px
        :border-bottom 1px solid #333

      .date
        :border 1px solid #333
        :padding 1px
        :float right
        :text-align center
        :font
          :size 0.7em
          :weight bold


.progressbar
  :width 300px

.flash
  :width 700px

#task, #event
  :position absolute
  :top 100px
  :left 150px

#task_body, #event_body
  :padding 10px
  :max-width 500px

  #controls
    :float right


=calendar_day
  +round_borders
  :height 100px
  :width 14%
  :vertical-align top

.normal_day
  +calendar_day
  :border-width 1px
  :border-style solid
  :border-color = !light_green

.today
  +calendar_day
  :border 1px solid red


.fieldWithErrors
  :color red

.hour_of_day
  :border-right 1px solid #333
  :padding
    :left 5px
  :width 30px
  :background-color lightgrey

.hour_of_day_expanded
  :border-bottom 1px dotted #666
  :width 300px

.this_week
  +round_borders
  :border 1px solid red

.project_row
  :padding
    :bottom 10px
    :top 5px

#errorExplanation
  :font-weight bold
  :padding 7px
  :padding-bottom 12px
  :margin-bottom 20px
  +error
  +round_borders

  h2
    :display none
    :text-align left
    :font-weight bold
    :padding 5px 5px 5px 15px
    :font-size 12px
    :margin -7px
    :background-color #c00
    :color #fff

  p
    :color #333
    :margin-bottom 0
    :padding 5px


  ul
    li
      :font-size 12px
      :list-style square
