!light_blue = #bde3fe
!dark_blue = #23567a
!light_green = #86ae91

=round_borders
  :-moz-border-radius 6px
  :-webkit-border-radius 6px


=error
  :border 1px solid #cd0a0a
  :background #b81900 url(/images/ui-bg_diagonals-thick_40_b81900_40x40.png) 50% 50% repeat
  :color #ffffff

body
  :margin 0
  :padding 0
  :font
    :family verdana, arial, helvetica, sans-serif
    :size 0.9em

#header
  :background #fcfcfc url(/images/header_bg.png) 0 100% repeat-x
  :height 6.82em
  :min-width 75em
  :border-bottom 5px solid #dddddd
  :margin-bottom 1em

  #logo
    :float left
    :margin
      :top 1em
      :left 4em

  .userbox
    +round_borders
    :background #EAF2F5
    :border 1px solid #ddd
    :float right
    :margin
      :top 1.2em
      :right 4em
    :width 25em
    :color #aac

    .box
      :margin .25em .5em .25em .5em

    .gravatar
      :float left
      :padding .2em

      img
        :border 1px solid #d0d0d0
        :padding 2px
        :background-color white
        :margin-right .7em

    .top
      :overflow hidden

      .name
        :float left
        :overflow hidden
        :font-weight bold
        :width 5em

        a
          :color #000

      .links
        :font-size 85%
        :margin-top .2em
        :float right
        :text-align right

        a
          :color #4183c4
        a:hover
          :text-decoration underline

    a
      :color #4183c4

    .bottom
      :overflow hidden

      .select
        :float right
        :margin-top .5em

    .inbox
      :float left
      :margin-top .7em
      a
        :padding-left 20px
        :display block

#content
  :padding
    :left 4em
    :right 4em
  :margin
    :top 20px
a
  :color orange
  :text-decoration none

  img
    :border none

a:hover
  :text-decoration underline

th
  :text-align left

h1
  :font-size 1.9em
  :color #333

h2
  :font-size 1.4em
  :color #666

h3
  :color #999
  :font-size 1.1em

h4
  :color #999
  :font-size 1em


.clear
  :height 1px
  :clear both

.two_col
  :width 45%
  :float left

.small
  :font-size 0.7em

#user_badge
  :float right
  :width 320px

#user_menu
  :text-align center
  :z-index 9999

#menu
  :float left
  :display inline
  :font
    :size 1.5em
    :color #333333
  :padding
    :top 15px

.widget
  :padding
    :left 10px
    :right 10px
    :top 5px
    :bottom 5px

  :margin-bottom 10px
  +round_borders

.middle
  :vertical-align middle

.attribute
  :display table-row

  .name
    :display table-cell
    :font-weight bold
    :padding
      :right 10px
      :bottom 2px
      :top 5px
  .value
    :display table-cell

.wall
  +round_borders
  :width 550px
  :background-color #e4f9ea
  :border 1px solid #86ae91
  :padding 10px

  .comment
    :display table-row
    :margin-bottom 20px

    div
      :margin-bottom 15px
      :vertical-align middle

      .face
        :width 150px
        :display table-cell

      .comment_body
        :display table-cell
        :width 400px
        :border-bottom 1px solid #333

      .date
        :border 1px solid #333
        :padding 1px
        :float right
        :text-align center
        :font
          :size 0.7em
          :weight bold


.progressbar
  :width 300px

.flash
  :padding
    :left 4em
    :right 4em

#task, #event
  :position absolute
  :top 100px
  :left 150px

#task_body, #event_body
  :padding 10px
  :max-width 500px

  #controls
    :float right

#tab_nav
  a
    :display block
    :float left
    :height 30px
    :width 80px
    :margin-right 2px
    :text-align center
    :padding-top 15px

#calendar
  +round_borders
  :position relative
  :border 1px solid #999
  :padding 5px

=calendar_day
  +round_borders
  :height 100px
  :width 14%
  :vertical-align top
  :background-color #eee
  :padding 3px

.normal_day
  +calendar_day
  :border-width 1px
  :border-style solid
  :border-color #ccc

.today
  +calendar_day
  :border 1px solid red


.hour_of_day
  :border-right 1px solid #333
  :padding
    :left 5px
  :width 30px
  :background-color lightgrey

.hour_of_day_expanded
  :border-bottom 1px dotted #666
  :width 300px

.this_week
  +round_borders
  :border 1px solid red

.project_row
  :padding
    :bottom 10px
    :top 5px

//==========================================

.fieldWithErrors
  :color red

#errorExplanation
  :font-weight bold
  :padding 7px
  :padding-bottom 12px
  :margin-bottom 20px
  +error
  +round_borders

  h2
    :display none
    :text-align left
    :font-weight bold
    :padding 5px 5px 5px 15px
    :font-size 12px
    :margin -7px
    :background-color #c00
    :color #fff

  p
    :color #333
    :margin-bottom 0
    :padding 5px


  ul
    li
      :font-size 12px
      :list-style square
