body {
  background-color: #dfdfdf;
  margin: 0;
  padding: 0;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 0.9em; }

#header {
  background: #fcfcfc url(/images/header_bg.png) 0 100% repeat-x;
  height: 6.82em;
  min-width: 75em;
  border-bottom: 5px solid #dddddd;
  margin-bottom: 1em; }
  #header #logo {
    float: left;
    margin-top: 1em;
    margin-left: 4em; }
  #header #title {
    float: left;
    padding-left: 20px;
    padding-top: 30px;
    font-weight: bold;
    font-size: 2em;
    font-text-transform: uppercase; }
  #header .userbox {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    background: #EAF2F5;
    border: 1px solid #ddd;
    float: right;
    margin-top: 1.2em;
    margin-right: 4em;
    width: 28em;
    color: #aac; }
    #header .userbox .box {
      margin: .25em .5em .25em .5em; }
    #header .userbox .avatar {
      float: left;
      padding: .2em; }
      #header .userbox .avatar img {
        border: 1px solid #d0d0d0;
        padding: 2px;
        background-color: white;
        margin-right: .7em; }
    #header .userbox .top {
      overflow: hidden; }
      #header .userbox .top .name {
        float: left;
        overflow: hidden;
        font-weight: bold;
        width: 5em; }
        #header .userbox .top .name a {
          color: #000; }
      #header .userbox .top .links {
        font-size: 85%;
        margin-top: .2em;
        float: right;
        text-align: right; }
        #header .userbox .top .links a {
          color: #4183c4; }
        #header .userbox .top .links a:hover {
          text-decoration: underline; }
    #header .userbox a {
      color: #4183c4; }
    #header .userbox .bottom {
      overflow: hidden; }
      #header .userbox .bottom .select {
        float: right;
        margin-top: .5em; }
    #header .userbox .inbox {
      float: left;
      margin-top: .7em; }
      #header .userbox .inbox a {
        padding-left: 20px;
        display: block; }

#content {
  padding-left: 4em;
  margin-top: 20px; }
  #content #center {
    float: left;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 20px;
    padding-top: 15px;
    width: 70%;
    background-color: #fff;
    border-right: 3px solid #bfbfbf;
    border-bottom: 3px solid #bfbfbf; }
  #content #right {
    float: left;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 20px;
    width: 20%; }

a {
  color: orange;
  text-decoration: none; }
  a img {
    border: none; }

a:hover {
  text-decoration: underline; }

th {
  text-align: left; }

h1 {
  font-size: 1.9em;
  color: #333; }

h2 {
  font-size: 1.4em;
  color: #666; }

h3 {
  color: #999;
  font-size: 1.1em; }

h4 {
  color: #999;
  font-size: 1em; }

.clear {
  height: 1px;
  clear: both; }

.two_col {
  width: 45%;
  float: left; }

.small {
  font-size: 0.7em; }

#user_badge {
  float: right;
  width: 320px; }

#user_menu {
  text-align: center;
  z-index: 9999; }

#menu {
  float: left;
  display: inline;
  font-size: 1.5em;
  font-color: #333333;
  padding-top: 15px; }

.widget {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px; }

.middle {
  vertical-align: middle; }

.attribute {
  display: table-row; }
  .attribute .name {
    display: table-cell;
    font-weight: bold;
    padding-right: 10px;
    padding-bottom: 2px;
    padding-top: 5px; }
  .attribute .value {
    display: table-cell; }

.wall {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  width: 550px;
  background-color: #e4f9ea;
  border: 1px solid #86ae91;
  padding: 10px; }
  .wall .comment {
    display: table-row;
    margin-bottom: 20px; }
    .wall .comment div {
      margin-bottom: 15px;
      vertical-align: middle; }
      .wall .comment div .face {
        width: 150px;
        display: table-cell; }
      .wall .comment div .comment_body {
        display: table-cell;
        width: 400px;
        border-bottom: 1px solid #333; }
      .wall .comment div .date {
        border: 1px solid #333;
        padding: 1px;
        float: right;
        text-align: center;
        font-size: 0.7em;
        font-weight: bold; }

.progressbar {
  width: 300px; }

#flash {
  padding-left: 4em;
  padding-right: 4em; }

#interactive_window {
  display: none;
  margin-top: 20px; }

.close_interactive_window {
  float: right;
  padding-right: 15px;
  padding-top: 5px; }

#task, #event {
  position: absolute;
  top: 100px;
  left: 150px; }

.late {
  color: #cf0000;
  border-color: #cf0000; }

.today {
  color: #cf0000;
  border-color: #cf0000; }

.upcoming {
  color: #ffcf00;
  border-color: #ffcf00; }

.completed {
  color: #009f00;
  border-color: #009f00; }

.header_late {
  background-color: #cf0000; }

.header_upcoming {
  background-color: #ffcf00; }

.header_completed {
  background-color: #009f00; }

.header_today {
  background-color: #cf0000; }

.task_list_header {
  font-weight: bold;
  color: #fff;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px; }

.task_list_item {
  border-left-width: 1px;
  border-left-style: solid;
  border-bottom: 1px solid #eee; }

.task_list {
  border-left-width: 1px;
  border-left-style: solid; }
  .task_list .task_list_item {
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px; }
    .task_list .task_list_item .task_name {
      font-size: 1.2em;
      font-weight: bold; }
    .task_list .task_list_item .task_users {
      color: #000;
      display: inline;
      font-size: 0.8em; }

.event_list {
  width: 100%; }

.event_list_header {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  font-weight: bold;
  color: #fff;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px; }

.event_list_item {
  padding-left: 5px;
  padding-top: 3px;
  padding-bottom: 3px; }

.list_item_date {
  display: inline;
  font-size: .8em;
  font-weight: bold; }

.task_list_complete {
  border-left: none; }
  .task_list_complete .task_list_item {
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-bottom: none; }
    .task_list_complete .task_list_item .task_name {
      font-size: .9em;
      font-weight: bold;
      display: inline; }
    .task_list_complete .task_list_item .task_users {
      display: inline; }
  .task_list_complete .list_item_date {
    display: block;
    padding: 5px;
    border-left: 1px solid #009f00;
    background-color: #fff;
    border-top: 1px solid #eee; }

#task_body, #event_body {
  padding: 10px;
  max-width: 500px; }
  #task_body #controls, #event_body #controls {
    float: right; }

#tab_nav a {
  display: block;
  float: left;
  height: 30px;
  width: 80px;
  margin-right: 2px;
  text-align: center;
  padding-top: 15px; }

#calendar {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  position: relative;
  border: 1px solid #999;
  padding: 5px; }
  #calendar .normal_day {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    height: 100px;
    width: 14%;
    vertical-align: top;
    background-color: #eee;
    padding: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: #ccc; }
  #calendar .today {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    height: 100px;
    width: 14%;
    vertical-align: top;
    background-color: #eee;
    padding: 3px;
    border: 1px solid red; }

.hour_of_day {
  border-right: 1px solid #333;
  padding-left: 5px;
  width: 30px;
  background-color: lightgrey; }

.hour_of_day_expanded {
  border-bottom: 1px dotted #666;
  width: 300px; }

.this_week {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border: 1px solid red; }

.project_row {
  padding-bottom: 10px;
  padding-top: 5px; }

.draggable {
  cursor: move; }

.story {
  padding-top: 10px; }
  .story .story_body {
    padding-left: 2%;
    float: left;
    width: 80%;
    font-size: .9em; }
  .story .story_data {
    border-right: 1px solid #999;
    float: left;
    width: 15%;
    padding-left: 2%;
    font-size: .7em; }

.changed_data {
  font-weight: bold;
  display: inline; }

.quote {
  font-style: oblique;
  margin-bottom: 5px;
  min-height: 25px;
  padding-left: 25px;
  padding-top: 10px;
  background-image: url(/images/quotes.png);
  background-position: left;
  background-repeat: no-repeat; }

.fieldWithErrors {
  color: red; }

#errorExplanation {
  font-weight: bold;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  border: 1px solid #cd0a0a;
  background: #b81900 url(/images/jquery/ui-bg_diagonals-thick_40_b81900_40x40.png) 50% 50% repeat;
  color: #ffffff;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px; }
  #errorExplanation h2 {
    display: none;
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    background-color: #c00;
    color: #fff; }
  #errorExplanation p {
    color: #333;
    margin-bottom: 0;
    padding: 5px; }
  #errorExplanation ul li {
    font-size: 12px;
    list-style: square; }
