#search_form
  - form_tag '', :id => :search, :onsubmit => "return false;"  do
    .attribute
      .name Search
      .value= text_field_tag :name

  = observe_form :search, :url => { :controller => :users, :action => :search }, :frequency => 0.25, :update => :drag_drop_users
  %br