- content_for :title do
  All users

#menu
  = link_to_remote 'New', :url => new_user_path, :method => :get, :update => 'interactive_content', :complete => "$('#interactive_window').show()"

= render :partial => "search", :locals => {:partial => "list", :update => 'all_users'}

#interactive_window.ui-widget-content.widget
  .close_interactive_window
    = link_to_function image_tag('cross.png') do |page|
      - page[:interactive_window].fade 
  #interactive_content

#all_users
  = render :partial => "list", :locals => {:users => @users}