-content_for :title do
  Account

%div{:style => 'float:right;'}
  = link_to_remote 'Edit', :url => edit_user_path(@user), :method => :get, :update => 'interactive_content', :complete => "$('#interactive_window').show()"
  - if admin?
    |
    = link_to_remote 'Roles', :url => {:controller => :roles, :action => :user_roles, :id => @user}, :method => :get, :update => 'interactive_content', :complete => "$('#interactive_window').show()"
.clear


#interactive_window.ui-widget-content.widget
  .close_interactive_window
    = link_to_function 'x' do |page|
      - page[:interactive_window].visual_effect :fade, :duration => 0.5
  #interactive_content

- unless @user.stories.empty?
  = render :partial => 'stories/list', :locals => {:stories => @user.stories}
