-content_for :title do
  Clients

#menu
  = link_to_remote new_client_icon, :url => new_client_path, :method => :get, :update => 'interactive_content', :complete => "$('#interactive_window').show()"

#interactive_window.ui-widget-content.widget
  .close_interactive_window
    = link_to_function image_tag('cross.png') do |page|
      - page[:interactive_window].fade
  #interactive_content

#clients= render :partial => "list", :locals => {:clients => @clients}

- content_for :right do
  = render :partial => "global/search", :locals => {:klass => :client}