.right_title Events

- tday = Date.today
- past, future = events.partition {|event| event.date < tday }
- today, upcoming = future.partition {|event| event.date.to_date.eql? tday }

- past = past.group_by { |event| event.date.to_date }.to_a.sort.reverse
- upcoming = upcoming.group_by { |event| event.date.to_date }.to_a.sort.reverse
- today = today.group_by { |event| event.date.to_date }.to_a.sort.reverse
- all = [[:upcoming, upcoming], [:today, today], [:completed, past]]

.right_body
  - if today.empty? and upcoming.empty?
    No events at the moment
  - else
    - all.each do |type, date_events|
      - next if date_events.empty?

      %div{:class => "event_list_header header_#{type}"}= type.to_s.capitalize
      %p
        - date_events.each do |date, events|

          %div{:class => "list_item_date #{type}"}= date.to_time.to_s(:long)

          - events.each do |event|
            .event_list_item
              = event.time
              \-
              = link_to event.name, project_event_path(event.project, event)
