- content_for :title do
  = render :partial => "projects/header", :locals => {:project => @event.project, :action => "New Event"}

= render :partial => 'form', :locals => {:event => @event }

= link_to 'Back', @event.project
