- task ||= nil
- project = task.project if task

%span{:style => "color:##{project.colour}"}
  - if project.client
    = link_to h(project.client.name), project.client
    >

  - if task
    =link_to project.name, project
    >
    %span{:style => task.style}=h task.name
  - else
    %span{:style => project.style}=h project.name
