- task ||= nil
- project ||= task.project if task
- action ||= ""

%span
  - if project.client
    = link_to h(project.client.name), project.client
    = image_tag "arrow.png"

  - if task
    =link_to project.name, project
    = image_tag "arrow.png"
    %span{:style => task.style}=h task.name
  
  - else
    %span{:style => project.style}=h project.name
  
  - unless action.empty?
    = image_tag "arrow.png"
    %span=h action