- mini ||= false

#all_stories
  #stories_content
    = render :partial => "stories/list_content", :locals => {:stories => stories, :mini => mini}
        
  #more_stories_link
    = link_to_remote("more", :url => url_for(:controller => "stories", :action => "show_more", :id => stories.last, :mini => mini, :object_class => object.class, :object_id => object.id)) unless stories.size < 10
