- content_for :title do
  News Feed

- if @stories.empty?
  No news feeds to show. You should really wonder why...
- else
  = render :partial => 'list', :locals => {:stories => @stories, :object => @current_user}
