#users_stories_show
  .attribute
    .name User:
    .value=h @users_stories.user_id 
  .attribute
    .name Story:
    .value=h @users_stories.story_id 
  .attribute
    .name Seen:
    .value=h @users_stories.seen 

#update_users_stories{:style => 'display:none;'}
  = render :partial => 'form', :locals => {:users_stories => @users_stories }

= link_to_function 'Edit', :href => edit_users_stories_path(@users_stories), :id => "edit_users_stories_link" do |page|
  - page[:users_stories_show].visual_effect :blind_up, :duration => 0.5
  - page[:update_users_stories].visual_effect :blind_down, :duration => 0.5
  - page[:edit_users_stories_link].hide
  - page[:cancel_edit_users_stories_link].visual_effect :appear

= link_to_function 'Cancel', :href => edit_users_stories_path(@users_stories), :id => 'cancel_edit_users_stories_link', :style => "display:none;" do |page|
  - page[:users_stories_show].visual_effect :blind_down, :duration => 0.5
  - page[:update_users_stories].visual_effect :blind_up, :duration => 0.5
  - page[:cancel_edit_users_stories_link].hide
  - page[:edit_users_stories_link].visual_effect :appear

|
= link_to 'Back', users_stories_path
